@model Apha.BST.Web.Models.PersonListViewModel
@{
	ViewData["Title"] = "View People";
}
@{
	var isDisabled = !Model.CanEdit ? "disabled" : null;
}
<div class="w-100 h-100 p-2">
	<div class=" d-flex flex-column mb-3">
		<div class="d-flex justify-content-between me-5  ">
			<span class="w-70 fw-bold text-decoration-underline">View person details </span>
			<span class="w-30  me-5 px-5">
				<a href="@Url.Action("Index", "Home")" class="back-button" title="Back to home">
					<img src="~/Images/cancel.jpeg" size="2px" alt="Back to home" />
				</a>
			</span>
		</div>
		<div class="w-100 d-flex justify-content-start">
			<span class="w-30"><label for="personFilter">Select person</label></span>
			<span class="w-70 ms-5 ">
				<form method="get" asp-action="ViewPerson" style="display:inline;">
					<select id="personSelect" class="search-dropdown" name="selectedPerson" asp-for="SelectedPerson" asp-items="Model.AllPerson" disabled="@isDisabled" onchange="this.form.submit()">
						<option value="All">All people</option>
					</select>
				</form>
			</span>
		</div>
	</div>
	<div class="w-100 d-flex justify-content-start">

		<span class="w-30">Person details</span>
		<span class="w-70 ms-5"></span>
		
		<table id="peopleTable" class="grid-table">
			@if (Model.FilteredPerson.Any())
			{
				<thead>
					<tr>
						<th>PersonId</th>
						<th>Person</th>
						<th>PlantNo</th>
						<th>Name</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="personTableBody">
					@foreach (var person in Model.FilteredPerson)
					{
						<tr>
							<td>@person.PersonId</td>
							<td>@person.Person</td>
							<td>@person.PlantNo</td>
							<td>@person.Name</td>
							<td>
								<a href="@(!Model.CanEdit ? "#" : Url.Action("EditPerson", "Persons", new { id = @person.PersonId }))" class="btn btn-link p-0 m-0  fw-bold custom-underline-hover" style="text-decoration:underline">Edit</a>
							</td>
							<td>
								<form asp-action="DeletePerson" method="post" style="display: inline;">
									@Html.AntiForgeryToken()
									<input type="hidden" name="PersonId" value="@person.PersonId" />
									<button type="submit" class="btn btn-link p-0 m-0 fw-bold custom-underline-hover" style="text-decoration:underline"
											disabled="@isDisabled">
										Delete
									</button>
								</form>
							</td>
						</tr>
					}
				</tbody>
			}
		</table>
		<div class="pt-3 px-5 ErrorText">
			@if (TempData["PersonMessage"] != null)
			{
				@TempData["PersonMessage"]
			}
		</div>
	
		
	</div>
</div>

