@model EditTrainingViewModel
@{
	ViewData["Title"] = "EditTraining";
}
@{
	var isDisabled = !Model.CanEdit ? "disabled" : null;
}
<form asp-action="EditTraining" method="post" id="editTrainingForm">
	@Html.AntiForgeryToken()
	<table class="w-80 h-100 m-4">
		<thead class="sr-only"><tr><th scope="col"></th></tr></thead>
		<tbody class="me-5">
			<tr>
				<td class="fw-bold text-decoration-underline">
					Alter this training record
				</td>
				<td></td>
			</tr>

			<tr>
				<td class="pt-2">
					<label for="TraineeId" id="TraineeId">Trainee</label>
				</td>
				<td class="px-5">
					<select asp-for="TraineeId" disabled="@isDisabled">
						@foreach (var trainee in Model.TraineeList)
						{

							<option value="@trainee.Value">@trainee.Text</option>
						}
					</select>
					<span asp-validation-for="TraineeId" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<td class="pt-1 ">
					<label for="TrainerId" id="TrainerId">Trainer</label>
				</td>
				<td class="pt-1 px-5">
					<select asp-for="TrainerId" disabled="@isDisabled">
						@foreach (var trainer in Model.TrainerList)
						{

							<option value="@trainer.Value">@trainer.Text</option>
						}
					</select>
					<span asp-validation-for="TrainerId" class="text-danger"></span>
				</td>

			</tr>
			<tr>
				<td class="pt-1">
					<label for="TrainingType" id="TrainingType">Training Type</label>
				</td>
				<td class="pt-1 px-5">
					<select asp-for="TrainingType" asp-items="Model.TrainingTypesList" id="TrainingType" disabled="@isDisabled">
						<option value="">Select training type...</option>
					</select>
					<span asp-validation-for="TrainingType" class="text-danger"></span>
				</td>

			</tr>
			<tr>
				<td class="pt-1">
					<label for="TrainingDateTime">Date of training</label>
				</td>
				<td class="pt-1 px-5">

					<input asp-for="TrainingDateTime" id="dateInput" type="text" 
						   value="@Model.TrainingDateTime.ToString("dd/MM/yyyy")">
					<input type="date"
						   id="hiddenDateInput"
						   style="position:absolute; opacity:0; width:1px; height:1px; pointer-events:auto;"
						   value="@Model.TrainingDateTime.ToString("yyyy-MM-dd")" />
					<button type="button" onclick="openDateCalender()" class="btn btn-sm">
						<img src="~/Images/asp-calendar.gif" alt="img" id="calenderImage" />
					</button>

					<span asp-validation-for="TrainingDateTime" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<td class="pt-1">
					<label for="TrainingAnimal" id="TrainingAnimal">Species trained</label>
				</td>
				<td class="pt-1 px-5">
					<select asp-for="TrainingAnimal" asp-items="Model.TrainingAnimalList" disabled="@isDisabled">
					</select>
					<span asp-validation-for="TrainingAnimal" class="text-danger"></span>
				</td>

			<tr class="mt-2">
				<td></td>
				<td>

					<table>
						<thead class="sr-only"><tr><th scope="col"></th></tr></thead>
						<tr>
							<td class="pt-2 px-5">
								<button type="submit" class="btn" title="Save Changes">
									<img src="~/Images/tick.gif" alt="Save Training" />
								</button>
							</td>
							<td class="pt-2 px-5">
								<a href="@Url.Action("Index", "Home")" class="btn" title="Cancel action">
									<img src="~/Images/cancel.jpeg" alt="Cancel action" />
								</a>
							</td>
						</tr>
					</table>
				</td>

			</tr>
			<tr>
				<td></td>
				<td>
					<p class="message-wrap pt-2 px-5 ErrorText" />

					<div class="ErrorText">
							@if (TempData["Message"] != null)
							{
								@TempData["Message"]
							}
					</div>
				</td>
			</tr>

		</tbody>
	</table>
	<input type="hidden" name="TraineeIdOld" value="@Model.TraineeIdOld" />
	<input type="hidden" name="TrainerIdOld" value="@Model.TrainerIdOld" />
	<input type="hidden" name="TrainingTypeOld" value="@Model.TrainingTypeOld" />
	<input type="hidden" name="TrainingDateTimeOld" value="@Model.TrainingDateTimeOld" />
	<input type="hidden" name="TrainingAnimalOld" value="@Model.TrainingAnimalOld" />
</form>

