@model EditUserViewModel
@{
    ViewData["Title"] = "Edit User";
}
@{
    var isDisabled = !Model.CanEdit ? "disabled" : null;
}
<form asp-action="EditUser" method="post">
    <table class="w-80 h-100">
        <thead class="sr-only"><tr><th scope="col"></th></tr></thead>
        <tbody class="me-5">
            <tr>
                <td class="fw-bold text-decoration-underline">Change user details</td>
                <td></td>
            </tr>

            <tr>
                <td class="pt-2">
                    <label for="UserId" id="UserId">User Email</label>
                </td>
                <td class="px-5">
                    <input asp-for="UserId" id="UserId" readonly />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td class="pt-3">
                    <label for="UserLoc">User location</label>
                </td>
                <td class="pt-3 px-5">
                    <select asp-for="UserLoc" id="UserLoc" asp-items="Model.Locations" disabled="@isDisabled">
                        <option value="">Select location...</option>
                    </select>
                    <span asp-validation-for="UserLoc" class="text-danger"></span>
                </td>
            </tr>

            <tr>
                <td class="pt-2">
                    <label for="UserName">User name (surname, first)</label>
                </td>
                <td class="px-5 pt-3">
                    <input asp-for="UserName" disabled="@isDisabled" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </td>
            </tr>

            <tr>
                <td class="pt-3">
                    <label for="UserLevel">User level (1, 2, 3)</label>
                </td>
                <td class="pt-3 px-5">
                    <select asp-for="UserLevel" asp-items="Model.UserLevels" disabled="@isDisabled">
                        <option value="0">Add user's level......</option>
                    </select>
                    <span asp-validation-for="UserLevel" class="text-danger"></span>
                </td>
            </tr>

            <tr class="mt-2">
                <td></td>
                <td class="pt-4 px-5">
                    <table>
                        <thead class="sr-only"><tr><th scope="col"></th></tr></thead>
                        <tr>
                            <td>
                                <button type="submit" class="btn" title="Save changes">
                                    <img src="~/Images/tick.gif" alt="Save changes" />
                                </button>
                            </td>
                            <td>
                                <a href="@Url.Action("Index", "Home")" class="btn" title="Cancel action">
                                    <img src="~/Images/cancel.jpeg" alt="Cancel action" />
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div class="message-wrap pt-3 ErrorText text-danger">
                        @if (TempData["UserMessage"] != null)
                        {
                            @TempData["UserMessage"]
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>
