@model AddNewsViewModel
@{
    ViewData["Title"] = "Add News";
}
@{
    var isDisabled = !Model.CanEdit ? "disabled" : null;
}

<form asp-action="AddNews" method="post">
    @Html.AntiForgeryToken()
    <table class="h-100" style="width:90%">
        <thead class="sr-only"><tr><th scope="col"></th></tr></thead>
        <tbody class="me-5">
            <tr>
                <th id="newsheading" colspan="3" class="fw-bold text-decoration-underline">Add news item</th>

            </tr>
            <tr>
                <td class="w-25 ">
                    <label for="Title" id="Title">News title</label>
                </td>
                <td class="w-50">
                    <input id="Title" asp-for="Title" class="w-100" disabled="@isDisabled" />

                </td>
                <td><span asp-validation-for="Title" class="text-danger"></span></td>
            </tr>
            <tr>
                <td class="w-25 ">
                    <label for="NewsContent" id="NewsContent">News content</label>
                </td>
                <td class="w-50 pt-2">
                    <textarea id="NewsContent" asp-for="NewsContent" rows="4" cols="50" class="w-100" disabled="@isDisabled"></textarea>

                </td>
                <td> <span asp-validation-for="NewsContent" class="text-danger"></span></td>
            </tr>
            <tr>
                <td class="pt-3">
                    <label for="news-date-published" id="DatePublished">News date and time</label>
                </td>
                <td class="w-50 pt-3">
                    <div class="d-flex align-items-center">
                        <div class="w-50 me-2">
                            <input asp-for="DatePublished" id="news-date-published" type="text" placeholder=" " disabled="@isDisabled" />
                        </div>
                        <div class="form-check w-100">
                            @if (Model.CanEdit)
                            {
                                <input asp-for="UseCurrentDateTime" class="form-check-input" type="checkbox"
                                       style="width:18px; height:18px; border:1px solid; cursor:pointer;"
                                       id="news-date-checkbox" />
                            }
                            else
                            {
                                <input asp-for="UseCurrentDateTime" class="form-check-input" type="checkbox" style="width:18px; height:18px; border:1px solid; cursor:pointer;" id="news-date-checkbox" disabled />
                            }
                            <label class="ms-2 pt-1" for="UseCurrentDateTime">Use current date and time</label>
                            <span asp-validation-for="DatePublished" class="text-danger"></span>

                        </div>
                    </div>
                    <input type="hidden" asp-for="UseCurrentDateTime" id="UseCurrentDateTime" />
                  

                </td>
                <td>  </td>
            </tr>
            <tr>
                <td class="pt-3">
                    <label for="Author" id="Author">News person</label>
                </td>
                <td class="pt-3">
                    <select id="Author" asp-for="Author" asp-items="Model.Users" class="search-dropdown w-50" disabled="@isDisabled">
                    </select>
                    <span asp-validation-for="Author" class="text-danger"></span>

                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="pt-3">
                    <table class="w-100">
                        <thead class="sr-only"><tr><th scope="col"></th></tr></thead>
                        <tr>
                            <td class="w-20">
                                <button type="submit" class="btn" title="Save news">
                                    <img src="~/Images/tick.gif" alt="Save news" />
                                </button>
                            </td>
                            <td style="width:55%">
                                <a href="@Url.Action("Index", "Home")" class="btn" title="Cancel action">
                                    <img src="~/Images/cancel.jpeg" alt="Cancel action" />
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div class="pt-3 ErrorText text-danger">
                        @if (TempData["NewsMessage"] != null)
                        {
                            @TempData["NewsMessage"]
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>