@model Apha.BST.Web.Models.OldNewsViewModel
@{
    ViewData["Title"] = "OldNews";
}
<div>
    <a asp-controller="Home" asp-action="Index" class="mx-1">Back to home</a>

    <table class="news-container w-100">
        <thead class="sr-only"><tr><th scope="col"></th></tr></thead>
        <tr class="news-header">
            <td>News and Updates.....</td>
        </tr>
        <tr>
            <td>
                @if (Model.NewsList != null && Model.NewsList.Any())
                {
                    <ul>
                        @foreach (var news in Model.NewsList)
                        {
                            <li class="mb-3">
                                <span class="news-title fw-bold">@news.Title</span>
                                <span>@news.NewsContent</span>
                                <span>
                                    <time datetime="@news.DatePublished">
                                        @news.DatePublished
                                    </time>by @news.Author
                                </span>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>No news items available at the moment.</p>
                }
            </td>
        </tr>
    </table>
</div>
