@model Apha.BST.Web.Models.EditSiteViewModel
@{
	ViewData["Title"] = "EditSite";
}
@{
	var isDisabled = !Model.CanEdit ? "disabled" : null;
}

<form asp-action="EditSite" asp-controller="Site" method="post">
	<table class="w-100 h-100 m-3">
		<thead class="sr-only"><tr><th scope="col"></th></tr></thead>
		<tbody class="me-5">
			<tr>
				<td class="fw-bold text-decoration-underline" colspan="2">
					Edit site with new details
				</td>
				<td></td>
			</tr>

			<tr>
				<td>
					<label class="pt-2" for="PlantNo" id="PlantNo">Plant / site No.</label>
				</td>
				<td>
					<input asp-for="PlantNo" id="PlantNo" readonly />
					<span asp-validation-for="PlantNo" class="text-danger"></span>
				</td>
				<td class="px-5"></td>
			</tr>
			<tr>
				<td class="pt-2">
					<label for="Name" id="Name">Plant name</label>
				</td>
				<td class="pt-2">
					<input asp-for="Name" id="Name" disabled="@isDisabled" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</td>
				<td class="px-5"></td>
			</tr>
			<tr>
				<td class="pt-2">
					<label for="AddressLine1">Address 1</label>
				</td>
				<td class="pt-2">
					<input asp-for="AddressLine1" id="AddressLine1" disabled="@isDisabled" />
					<span asp-validation-for="AddressLine1" class="text-danger"></span>
				</td>
				<td class="px-5"></td>
			</tr>
			<tr>
				<td class="pt-2">
					<label for="AddressLine2" id="AddressLine2">Address 2</label>
				</td>
				<td class="pt-2">
					<input asp-for="AddressLine2" id="AddressLine2" disabled="@isDisabled" />
					<span asp-validation-for="AddressLine2" class="text-danger"></span>
				</td>
				<td class="px-5"></td>
			</tr>
			<tr>
				<td class="pt-2">
					<label for="AddressTown">Town</label>
				</td>
				<td class="pt-2">
					<input asp-for="AddressTown" disabled="@isDisabled" />
					<span asp-validation-for="AddressTown" class="text-danger"></span>
				</td>
				<td class="px-5"></td>
			</tr>
			<tr>
				<td class="pt-2">
					<label for="AddressCounty">Country</label>
				</td>
				<td class="pt-2">
					<input asp-for="AddressCounty" disabled="@isDisabled" />
					<span asp-validation-for="AddressCounty" class="text-danger"></span>
				</td>
				<td class="px-5"></td>
			</tr>
			<tr>
				<td class="pt-2">
					<label for="AddressPostCode">Postcode</label>
				</td>
				<td class="pt-2">
					<input asp-for="AddressPostCode" disabled="@isDisabled" />
					<span asp-validation-for="AddressPostCode" class="text-danger"></span>
				</td>
				<td class="px-5"></td>
			</tr>
			<tr>
				<td class="pt-2">
					<label for="Telephone">Telephone</label>
				</td>
				<td class="pt-2">
					<input asp-for="Telephone" disabled="@isDisabled" />
					<span asp-validation-for="Telephone" class="text-danger"></span>
				</td>
				<td class="px-5"></td>
			</tr>
			<tr>
				<td class="pt-2">
					<label for="Fax">Fax</label>
				</td>
				<td class="pt-2">
					<input asp-for="Fax" disabled="@isDisabled" />
					<span asp-validation-for="Fax" class="text-danger"></span>
				</td>
				<td class="px-5"></td>
			</tr>
			<tr>
				<td class="pt-2">
					<label for="IsAhvla" id="IsAhvla">AHVLA Site</label>
				</td>
				<td class="pt-4">
					<div class="form-check">
						<input asp-for="IsAhvla" class="form-check-input" type="checkbox" style="width:18px; height:18px; border:1px solid; cursor:pointer;" />

						<label class=" ms-2 pt-1" for="IsAhvla">AHVLA Site</label>
					</div>
				</td>
				<td class="px-5"></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<table>
						<thead class="sr-only"><tr><th scope="col"></th></tr></thead>
						<tr>
							<td class="pt-3">
								<button type="submit" class="btn" title="Save site">
									<img src="~/Images/tick.gif" alt="Save site" />
								</button>
							</td>
							<td class="pt-3 px-5">
								<a href="@Url.Action("Index", "Home")" class="btn" title="Cancel action">
									<img src="~/Images/cancel.jpeg" alt="Cancel action" />
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div class="message-wrap pt-3 ErrorText">
						@if (TempData["SiteMessage"] != null)
						{
							@TempData["SiteMessage"]
						}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</form>



